section>p+p+p{
	color: yellow;
}
*{
	font-family: sans-serif, monospace;
	font-size: 18px;
}
h1{
	font-size: 54px;
}
#capitalize{
	text-transform: uppercase;
}
.progLanguage{
	background-color: #AED0A1;
}
[value="tool"] {
	border: 1px solid blue;
}
img + ol{
	list-style: none;
}
section img{
	width: 110px;
	border-radius: 110px;
}
ol~p{
	text-align: center;
	color: black;
}
img + ol > li{
	letter-spacing: 10px;
}